DG_data/
DG_data_filtered/
processed_data/
saved_models/
saved_results/
logs/
exp.sh
GraphMixer-Amazon-Beauty.log
*.log
logs/
.vscode/
__pycache__/
LogGraphMixer/
LogTGN/
LogDyGFormer/
LogJODIE/
LogV3
filter_low_degree_nodes.py
reindex.py
process/
0.25_process.py
data_index_timecheck.py
data_index.py
data_train>3_index.py
exp_eval.sh
filter_bi.py
filter_processed.py
filter.py
test_statistic.py
*.pdf
plot_mrr.py
plot_training.py
plotdata_indexed1.csv
plotdata_indexed2.csv
plotdata_indexed3.csv
plotdata_indexed4.csv
plotdata_indexed5.csv
plotdata_indexed6.csv
plotdata_indexed7.csv
plotdata_indexed8.csv
plotdata1.csv
plotdata2.csv
plotdata3.csv
plotdata4.csv
plotdata5.csv
plotdata6.csv
plotdata7.csv
plotdata8.csv
statistic_degree_plot.py
statistic_edge_plot.py
statistic_edgetime_plot.py
statistic_plot.py
data/
*.md
collected_results*/
dist/
*.txt
*.sh
tgb-seq_processed/
test_preprocess.ipynb
tools/
test*
!tools/exp.py
*.ipynb
*.in
*.*make
*.so
*.csv
*/build/*
